@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700;900&family=Plus+Jakarta+Sans:wght@400;500;600&family=Space+Grotesk:wght@600&display=swap');
@import "tailwindcss";

@theme {
  --color-midnight: #0B1120;
  --color-teal: #00E5FF;
  --color-copper: #D97736;
  --color-limestone: #F8FAFC;
  --color-slate900: #0F172A;
  --color-steel: #94A3B8;
  
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-display: "Outfit", sans-serif;
  --font-mono: "Space Grotesk", monospace;
}

body {
  background-color: var(--color-limestone);
  color: var(--color-slate900);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

/* Custom Utilities */
.text-balance {
  text-wrap: balance;
}
